* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1cb5b2;
}

.iev-carousel {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 30px;
}

.carousel-list {
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
    width: 100%;
    padding: 65px 0;
}

.carousel-hider {
    width: 90%;
    height: 300px;
    overflow: hidden;
    float: left;
}
.carousel-element {
    display: flex;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 140px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin: 30px 25px 0 0;
    float: left;
    box-sizing: border-box;
}

.empty-first,
.empty-last,
.carousel-list > .empty-first:hover,
.carousel-list > .empty-last:hover{
    border: none;
}

.carousel-element img {
    height: 157px;
    position: absolute;
    bottom: -3px;
    z-index: 0;
}

.carousel-element:hover img {
    animation: myzoom .2s forwards;
}

.carousel-element:hover {
    border: 3px solid #fff;
}

@keyframes myzoom {
    80% {
        transform: scale(1.12);
        bottom: 5px;
    }
    100% {
        transform: scale(1.07);
        bottom: 3px;
    }
}


.carousel-element > div {
    position: absolute;
    bottom: -2px;
    width: 140px;
    height: 6px;
    overflow: hidden;
    box-sizing: border-box;
}

.carousel-element > div > div {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 140px;
    border-bottom: 2px solid #ddd;
    border-radius: 50%;
    z-index: 2;
    box-sizing: border-box;
}

.carousel-element:hover > div > div {
    border-bottom: 3px solid #fff;
}

.away-animated-last {
    animation: myfadeaway-last 1s forwards;
}

@keyframes myfadeaway-last {
    from {
        opacity: 1;
        left: 0;
        transform: scale(1);
    }
    to {
        opacity: 0;
        left: 200px;
        transform: scale(1.5);
    }
}

.in-animated-first {
    animation: myfadein-first 0.7s linear forwards;
}

@keyframes myfadein-first {
    from {
        opacity: 0;
        left: -200px;
        transform: scale(1.5);
    }
    to {
        opacity: 1;
        left: 0;
        transform: scale(1);
    }
}

.away-animated-first {
    animation: myfadeaway-first 1s forwards;
}

@keyframes myfadeaway-first {
    from {
        opacity: 1;
        right: 0;
        transform: scale(1);
    }
    to {
        opacity: 0;
        right: 200px;
        transform: scale(1.5);
    }
}

.in-animated-last {
    animation: myfadein-last 0.7s linear forwards;
}

@keyframes myfadein-last {
    from {
        opacity: 0;
        right: -200px;
        transform: scale(1.5);
    }
    to {
        opacity: 1;
        right: 0;
        transform: scale(1);
    }
}


.carousel-arrow-left,
.carousel-arrow-right {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    float: left;
    display: block;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 5px;
    margin-top: -50px;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}

.inactive-arrow {
    color: white;
    border: 2px solid lightgrey;
}

.inactive-arrow:hover {
    background-color: lightgrey;
    cursor: default;
}
